div#div-table {
    overflow-x: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    height: 50px;
    text-align: left;
}

td {
    height: 50px;
    vertical-align: bottom;
}

tr:hover {
    background-color: #d3e9b9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
