<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inscrição das Máquinas e Implementos</title>

<link rel="stylesheet" type="text/css" href="../css/reset.css" th:href="@{css/resetcss}">
<link rel="stylesheet" type="text/css" href="../css/todo-conteudo.css" th:href="@{css/todoconteudocss}">
<link rel="stylesheet" type="text/css" href="../css/maquina.css" th:href="@{css/maquinacss}">
</head>
<body>
	<header id="header">
		<nav id="nav">
			<button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true"
				aria-controls="menu" aria-expanded="false">
				Menu <span id="hamburger"></span>
			</button>
			<ul id="menu" role="menu">
                <li><a href="./index.html" th:href="@{index}">Home</a></li>
                <li><a href="./emprestimo.html" th:href="@{emprestimo}">Emprestimo</a></li>
                <li><a href="./localizacao.html" th:href="@{localizacao}">localidades</a></li>
                <li><a href="./maquina.html" th:href="@{maquina}">Máquinas</a></li>
                <li><a href="./solicitante.html" th:href="@{solicitante}">Solicitantes</a></li>
                <li><a href="./ajuda.html" th:href="@{ajuda}">Ajuda</a></li>
            </ul>
        </nav>
        <a id="logo" href="./usuario.html" th:href="@{usuario}">USUÁRIO-01</a>
	</header>

	<script src="../scripts/script.js"></script>

	<div class="div-header">
		<h1>Inscrição das Máquinas e Implementos</h1>
	</div>

	<main class="body-first">
		<form class="form-main">
			<fieldset class="grupo">
				<div class="campo">
					<label for="maquina">Nova Máquina</label> <input type="text"
						name="maquina" id="maquina" placeholder="Descreva a Máquina" maxlength="70"
						required>
				</div>
			</fieldset>
			<fieldset>
				<div class="campo">
					<label for="descricao-maquina">Observações</label>
					<textarea name="descricao-maquina" id="descricao-maquina" placeholder="Queira colocar algumas observações"
						maxlength="105" rows="3"></textarea>
				</div>
			</fieldset>
			<button type="submit" class="botao">Concluído</button>
		</form>
	</main>

	<footer>
		<h1>&copy;Copyright - Gestão de Máquinas</h1>
	</footer>
</body>
</html>