<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição das Localidades</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css" th:href="@{css/resetcss}">
    <link rel="stylesheet" type="text/css" href="../css/todo-conteudo.css" th:href="@{css/todoconteudocss}">
	<link rel="stylesheet" type="text/css" href="../css/tabela.css" th:href="@{css/tabela}">
</head>

<body>
    <header id="header">
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false">Menu
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="./index.html" th:href="@{index}">Home</a></li>
                <li><a href="./emprestimo.html" th:href="@{emprestimo}">Emprestimo</a></li>
                <li><a href="./localizacao.html" th:href="@{localizacao}">localidades</a></li>
                <li><a href="./maquina.html" th:href="@{maquina}">Máquinas</a></li>
                <li><a href="./solicitante.html" th:href="@{solicitante}">Solicitantes</a></li>
                <li><a href="./ajuda.html" th:href="@{ajuda}">Ajuda</a></li>
            </ul>
        </nav>
        <a id="logo" href="./usuario.html" th:href="@{usuario}">USUÁRIO-01</a>
    </header>

    <div class="div-header">
        <h1>Solicitantes</h1>
    </div>

    <main class="body-first">
        <div class="div-form-first">
            <form class="form-main">
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome-solicitante">Nome do solicitante</label>
                        <input type="text" name="nome-solicitante" id="nome-solicitante" placeholder="Digite o nome"
                            maxlength="80" required>
                    </div>
                    <div class="campo">
                        <label for="maquina">Selecione a localidade</label> <select name="maquina"
                            id="maquina" required>
                            <option selected disabled value="">Selecione</option>
                            <option value="endereco-1">Santa Terezinha</option>
                            <option value="endereco-2">Santa Rosa</option>
                            <option value="endereco-3">Linha Sortica</option>
                            <option value="endereco-4">Linha Azeredo</option>
                            <option value="endereco-5">Esquina Sherer</option>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="tel-solicitante">Telefone do solicitante</label>
                        <input type="text" name="tel-solicitante" id="tel-solicitante" placeholder="Digite o telefone"
                            maxlength="80" required>
                    </div>
                </fieldset>
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="cpf-solicitante">CPF do solicitante</label>
                        <input type="text" name="cpf-solicitante" id="cpf-solicitante" placeholder="CPF do solicitante"
                            maxlength="80" required>
                    </div>
                    <div class="campo">
                        <label for="bloco-solicitante">Bloco do solicitante</label>
                        <input type="text" name="bloco-solicitante" id="bloco-solicitante" placeholder="Bloco do solicitante"
                            maxlength="80" required>
                    </div>
                </fieldset>
                <button type="submit" class="botao">Concluído</button>
            </form>
        </div>

        <div id="div-table">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Código</th>
						<th scope="col">Solicitante</th>
						<th scope="col">Localidade</th>
						<th scope="col">Telefone</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Bloco</th>
						<th scope="col">Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="solicitante:${solicitante}">
						<td th:text=${solicitante.id}>id</td>
						<td th:text=${solicitante.solicitante}>solicitante</td>
						<td th:text=${solicitante.localizacao.local}>localidade</td>
						<td th:text=${solicitante.telefone}>telefone</td>
                        <td th:text=${solicitante.cpf}>cpf</td>
                        <td th:text=${solicitante.bloco}>bloco</td>

						<td>
							<a th:href="@{/solicitante/{id}(id=${solicitante.id})}"
								class="btn btn-outline-desativar">desativar</a>
							<!-- <a th:href="@{/emprestimo/editar/{id}(id=${emprestimo.id})}"
                            class="btn btn-outline-warning">Editar</a> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </main>

    <script src="../scripts/script.js"></script>

    <footer>
        <h1>&copy;Copyright - Gestão de Máquinas</h1>
    </footer>
</body>

</html>